$color-primary: #555;
$color-secondary: rgb(127,255, 0);
$color-tertiary: rgb(15,97,129);
$color-black: #000000;
$color-universal: #474747;
$color-linksActiveVisit: #79a9b4;
$color-visited: #343434;
$color-backgroundColor: #fff;
$color-LinksHover: #818181;
